annotated-types==0.6.0
APScheduler==3.10.4
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
decorator==4.4.2
ffmpy==0.3.1
future==0.18.3
greenlet==3.0.1
idna==3.6
imageio==2.33.1
imageio-ffmpeg==0.4.9
moviepy==1.0.3
opencv-python==4.9.0.80
numpy==1.26.3
pandas==2.1.4
pillow==10.2.0
playwright==1.40.0
proglog==0.1.10
pydantic==2.5.3
pydantic_core==2.14.6
pyee==11.0.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
urllib3==2.1.0